@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
 
}

.container {
  position:static;
 /* top: 800%;
  left: 50%;*/
  text-align: center;
  margin: 200px auto;
  padding: 20px;


}

.progress-container {
  display: flex;
  justify-content: space-between;/*Da los espacios en cada circulo*/
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  
}


.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
 
}

.circle {
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
  text-align: center;
  display: inline-block;/*alinea */
  border-radius: 50px;/*los coloca en forma de circulo*/
  width: 25px;
 /* background-color: var(--line-border-empty); color del fondo del circulo*/
  background: linear-gradient(#f3f1f1, #f3f3f5);/*color del fondo del circulo*/
  color:rgb(140, 144, 148) /* el color de los numeros*/
   
}

.circle.active {
  border-color: var(--line-border-fill);/*da el color azul del borde del circulo */
  
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {   /*boton desabilitado*/
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

@media (max-width:480px){
  body{
    display: block;
    align-items: center; 
    box-sizing: border-box; 
   /* margin: 200px auto;*/
  }
  .btn{
    font-size: 12px;
  }
}
@media (max-width:768px){
  body{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 200px auto;
  }

}