* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  display: flex;
  flex-flow: row;
  position: relative;
  top: 250px;
  /*left: 100px;*/
  align-items: center;
  justify-content: center;

}
.Container{
  display: flex;
  display:-webkit-flex;
  flex-direction: row;/*coloca en columna*/
  flex-wrap: nowrap;/*no baja liena y cabe el 100 el contenedor*/
  height: 200px;
  width: 800px;
  margin: 10px;
  justify-content: center;
  align-items: center;

  /*border: red;*/

}
.empty {
  /*display: inline-block;/*para aliner los cuadros*/
 
  height: 120px;
  width: 120px;
  margin: 10px;
  border: 2px rgb(0, 7, 14) solid;
  background-color: rgb(192, 203, 233);

}

.fill {
  background-color: rgb(0, 17, 255);
  position: relative;/**/
  width: 116px;
  height: 116px;
  cursor: pointer;/*me permite colocar el cursos para mover*/
  
}
/*se coloca el borde en el cuadro que estamos moviendo*/
.hold {
  border:solid rgba(224, 64, 64, 0.8) 2px;
}

/*al colocar el curso en cada caudro se coloca el fondo este color*/
.hovered {
  background:cadetblue;
  border-style: dashed;
}
.invesible{
  display: none;
}

@media (max-width: 800px) {
  body {
    background-color: blueviolet;
    display: flex;
   
    top: 100px;
    /*left: 100px;*/
    align-items: center;
    justify-content: center;
  
  }
  .Container{
    display: flex;/**/
    justify-content: center;
    align-items: center;
    /*display:-webkit-flex;*/
    flex-direction: column;/*coloca en columna*/
    height: 500px;
    width: 400px;
    margin: 0px;
    
  }
  
  
 .empty {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-width: 5px rgb(0, 7, 14) solid;
  background-color: rgb(192, 203, 233);

  }

 .fill {
  background-color: rgb(0, 17, 255);
  position: relative;
  width: 77px;
  height: 77px;
  cursor: pointer;/*me permite colocar el cursos para mover*/
 }
 .hold {
  border:solid rgba(224, 64, 64, 0.8) 2px;
  }
  .hovered {
    background:cadetblue;
    border-style: dashed;
  }
  .invesible{
    display: none;
  }
}